---
layout: page
---

<nav class="nav  nav--categories">
  <ul class="list  list--categories">
    {% for item in site.categories %}
      <li class="item  item--category">
        <a href="#{{ item | first | slugify }}">{{ item | first }}</a>
      </li>
    {% endfor %}
  </ul>
</nav>


<main class="main  container">

  <div class="content">

    <article class="article  article--page  typeset">

      <h1>{{ page.title }}</h1>

      {{ content }}

    </article>

    {% include post-categories.html %}

  </div>


</main>
